<div class="relative flex overflow-x-hidden">
  <div class="border border-gray-200 shadow-md bg-gray-800 border-gray-700 flex animate-marquee whitespace-nowrap">
    <% @list.each do |c| %>
      <div class='py-2 px-4 text-white flex items-center gap-4'>
        <h4 class="text-xl font-medium text-gray-900 dark:text-white"><%=c.symbol%></h4>
        <p class='font-medium text-lg'><%= c.latest_price %></p>
        <% if c.change_percent < 0 %>
          <span class="text-lg text-red-500 dark:text-red-400"><%=c.change_percent_s%></span>
        <% else %>
          <span class="text-lg text-green-500 dark:text-green-400"><%=c.change_percent_s%></span>
        <%end%>
      </div>
    <% end %>
  </div>
  <div class="border border-gray-200 shadow-md bg-gray-800 border-gray-700 flex absolute top-0 whitespace-nowrap animate-marquee2">
    <% @list.each do |c| %>
      <div class='py-2 px-4 text-white flex items-center gap-4'>
        <h4 class="text-xl font-medium text-gray-900 dark:text-white"><%=c.symbol%></h4>
        <p class='font-medium text-lg'><%= c.latest_price %></p>
        <% if c.change_percent < 0 %>
          <span class="text-lg text-red-500 dark:text-red-400"><%=c.change_percent_s%></span>
        <% else %>
          <span class="text-lg text-green-500 dark:text-green-400"><%=c.change_percent_s%></span>
        <%end%>
      </div>
    <% end %>
  </div>
</div>
<div class="flex flex-wrap w-screen justify-center my-8 px-4">
  <div>
    <div class="text-slate-50 font-semibold text-5xl lg:text-7xl my-8">
      <p>Let's Make</p>
      <p><%= @x %></p>
      <p>Life Better With</p>
      <span>
        <em class='font-bold text-green-400'>BullStock</em>
        Trading!</span>
    </div>
    <div class="text-neutral-50 text-2xl">
      <p>Get real time monitoring of stock prices and grow your </p>
      <p>portfolio in this virtual trading platform!</p>
      <p class="mt-10"><%= link_to "Start Investing", new_user_registration_path, class: "text-white bg-blue-700 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-2xl px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %></p>
    </div>
  </div>
  <div><%= show_svg('undraw_investor.svg') %></div>
</div>
