<% provide(:title, 'Sell Shares')%>
<%= render 'shared/error_message', object: @transaction %>
<%= render 'shared/error_message', object: @stock %>
<div class= 'bg-slate-100 max-w-lg m-auto p-6 rounded-md mt-4 text-center'>
  <div class='flex items-center justify-center gap-2'>
    <%#= image_tag(@result.logo.url, size: '48')%>
    <h1 class='text-center text-4xl font-bold'> <%= @result.quote.symbol %> </h1>
  </div>
  <div class='mt-2 bg-slate-200 grid grid-cols-2 gap-x-1 w-auto m-auto p-4 rounded-md'>
    <p class='text-xl font-bold'>Company Name: </p>
    <p class='text-xl'><%= @result.quote.company_name %></p>
    <p class='text-xl font-bold'>Price: </p>
    <p class='text-xl'><%= number_to_currency(@result.quote.latest_price) %></p>
    <p class='text-xl font-bold'>Owned Shares: </p>
    <p class='text-xl'><%= @stock.changes[:quantity]&.first || @stock.quantity %></p>
    <p class='text-xl font-bold'>Your Unit Price: </p>
    <p class='text-xl'><%= number_to_currency(@stock.unit_price) %></p>
  </div>
  <div class='bg-slate-200 mt-4 p-2 rounded-md'>
    <p class='text-lg font-medium'> If you sell now, you will <span class=<%= change_color_if_gain_or_lose %> ><%= check_profit %> </span> per share.</p>
    <%= form_with scope: :sell_transaction, url: sell_stock_transactions_url, method: :post do |f| %>
      <%= f.number_field :quantity, step: 'any', class: 'rounded-lg border-slate-300 focus:border-red-500 focus:ring-red-500 mt-2 w-full text-center text-xl', placeholder: 'Number of shares to sell (e.g. 1, 2, 0.5, 1.5)' %>
      <%= f.submit "Sell a Share", class: 'text-white bg-red-500 p-2 rounded-md cursor-pointer font-medium text-lg hover:bg-red-600 mt-4 w-full' %>
    <% end %>
  </div>
</div>
