<tr class='text-center '>
  <td class='p-4'><%= transaction.symbol %></td>
  <td class='p-4'><%= transaction.company_name %></td>
  <td class='p-4'><%= transaction.quantity %></td>
  <td class='p-4'>$<%= transaction.unit_price.round(2) %></td>
  <td class='p-4'>$<%= transaction.amount %></td>
  <td class="<%=turn_to_red_or_green(transaction.transaction_type)%> p-4 text-bold"><%= transaction.transaction_type&.upcase %></td>
</tr>
