<div class= "py-5">
  <button type="button" class="inline-block px-6 py-2 border-2 border-gray-800 text-gray-800 font-medium text-xs leading-tight uppercase rounded-full hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out"><%= link_to "Pending", pending_traders_path %></button>
  <button type="button" class="inline-block px-6 py-2 border-2 border-gray-800 text-gray-800 font-medium text-xs leading-tight uppercase rounded-full hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out"><%= link_to "Create", new_trader_path %></button>
</div>
<table class="min-w-full">
  <tr class="border-b bg-blue-100 border-blue-200">
    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-center">Email</th>
    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-center">Role</th>
    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-center">Email Confirmation</th>
    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-center">Account Approval</th>
    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-center">Action</th>
  </tr>
  <tbody>
    <% @traders.each do |t| %>
      <tr class="border-b bg-purple-100 border-purple-200 transition duration-300 ease-in-out hover:bg-blue-100">
        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap text-center"><%=t.email%></td>
        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap text-center"><%=t.role.capitalize%></td>
        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap text-center"><%= t.confirmed? ? "Confirmed" : "Pending Email Confirmation" %></td>
        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap text-center"><%= t.approved? ? "Approved" : "Pending Approval" %></td>
        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap text-center"> <button type="button" class="inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded-full shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out"><%= link_to "show", trader_path(t.id) %></button> <button type="button" class="inline-block px-6 py-2.5 bg-purple-600 text-white font-medium text-xs leading-tight uppercase rounded-full shadow-md hover:bg-purple-700 hover:shadow-lg focus:bg-purple-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-purple-800 active:shadow-lg transition duration-150 ease-in-out"><%= link_to "edit", edit_trader_path(t.id) %></button> </td>
      </tr>
    <%end%>
  </tbody>
</table>
