<% if @trader.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@trader.errors.count, "error") %> prohibited this trader from being saved:</h2>
    <ul>
      <% @trader.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= form_with model: @trader, url: traders_path, html: {class: 'bg-slate-100 max-w-lg m-auto p-6 rounded-md mt-4'} do |f| %>
  <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email",class: 'rounded-md w-full focus:border-green-600 focus:ring-green-600'%>
  <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password",class: 'mt-2 rounded-md w-full focus:border-green-600 focus:ring-green-600' %>
  <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm Password",class: 'mt-2 rounded-md w-full focus:border-green-600 focus:ring-green-600'%>
  <%= f.submit "Create Trader Account", class: 'bg-green-500 p-2 rounded-md cursor-pointer font-medium text-lg hover:bg-green-600 mt-4 w-full'  %>
<% end %>
</div>
