<tr>
  <td><%= stock.symbol %></td>
  <td><%= stock.company_name %></td>
  <td><%= stock.quantity %></td>
  <td>$<%= stock.unit_price.round(2) %></td>
  <td>$<%= stock.amount.round(2) %></td>
  <td><%= link_to search_stock_path(stock.symbol) do %>
      <i class="las la-coins"></i>
    <% end %> <%= link_to new_sold_stock_path(stock.symbol) do %>
      <i class="las la-money-bill-wave"></i> <% end %> </td>
</tr>
