<div class='flex flex-col items-center'>
  <% unless current_user.approved? %>
    <p class='bg-red-400 text-center rounded-md p-4 text-xl font-bold my-4 border-2 border-slate-700'> Reminder: Please wait for admin approval to purchase a stock. For now, you can only search for a stock. </p>
  <% end %>
  <div class='flex flex-wrap text-center justify-center gap-4'>
    <%= link_to "#{display_purchase_or_search} Stock", new_search_stock_path, class: 'bg-green-400 rounded-md p-2 font-bold hover:bg-green-500 text-xl' %>
    <%= link_to "Show Balance Transactions", trader_balance_transactions_path, class: 'bg-green-400 rounded-md p-2 font-bold hover:bg-green-500 text-xl' %>
    <% if current_user.stocks.count > 0 %>
      <%= link_to 'Show Transactions', trader_stock_transactions_path, class: 'bg-blue-400 rounded-md p-2 font-bold hover:bg-blue-500 text-xl'%>
    <% end %>
    <% if current_user.balance > 0 %>
      <%= link_to "Withdraw", new_withdraw_balance_transaction_path, class: 'bg-green-400 rounded-md p-2 font-bold hover:bg-green-500 text-xl' %>
    <%end%>
  </div>
  <% if current_user.stocks.count > 0 %>
    <div class='overflow-auto mt-4 w-[calc(100%-64px)]'>
      <table class='bg-green-100 rounded m-auto'>
        <tr class='bg-green-500 text-lg'>
          <th class='p-2'>Symbol</th>
          <th class='p-2'>Company Name</th>
          <th class='p-2'>Quantity</th>
          <th class='p-2'>Unit Price</th>
          <th class='p-2'>Amount</th>
          <th class='p-2'>Actions</th>
        </tr>
        <%= render @stocks %>
      </table>
    </div>
  <% end %>
</div>
