<% provide(:title, 'Balance Transactions')%>
<div class= 'w-[calc(100%-64px)] m-auto'>
  <div class='flex flex-wrap justify-between gap-2'>
    <h1 class='font-bold text-3xl text-center'>Balance Transactions</h1>
    <div class='flex flex-wrap items-center gap-2'>
      <%= search_form_for @q, url: balance_transactions_path, method: :get do |f| %>
        <%= f.search_field :user_email_cont, placeholder: "Search trader", class: 'rounded-2xl border-slate-300 border text-sm focus:border-blue-600 focus:ring-blue-600' %>
      <% end %>
      <%= link_to "Stock Transactions", stock_transactions_path, class: "inline-block px-6 py-2 border-2 border-gray-800 text-gray-800 font-medium text-xs leading-tight uppercase rounded-full hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out" %>
    </div>
  </div>
  <div class='overflow-auto mt-2'>
    <% if @balance_transactions.count > 0 %>
      <table class="min-w-full">
        <tr class="border-b bg-blue-100 border-blue-200 text-xl">
          <th scope="col" class="px-6 py-4 text-center">Time</th>
          <th scope="col" class="px-6 py-4 text-center">Balance Transaction ID</th>
          <th scope="col" class="px-6 py-4 text-center">Trader</th>
          <th scope="col" class="px-6 py-4 text-center">Amount</th>
          <th scope="col" class="px-6 py-4 text-center">Type</th>
        </tr>
        <tbody>
          <% @balance_transactions.each do |t| %>
            <tr class="border-b bg-purple-100 border-purple-200 transition duration-300 ease-in-out hover:bg-blue-100">
              <td class="text-sm text-gray-900 font-medium px-6 py-4 whitespace-nowrap text-center"><%=local_time(t.created_at, '%Y-%m-%d %l:%M %p')%></td>
              <td class="text-sm text-gray-900 font-medium px-6 py-4 whitespace-nowrap text-center"><%=t.id%></td>
              <td class="text-sm text-gray-900 font-medium px-6 py-4 whitespace-nowrap text-center"><%=t.user.email%></td>
              <td class="text-sm text-gray-900 font-medium px-6 py-4 whitespace-nowrap text-center"><%=number_to_currency(t.amount)%></td>
              <td class="text-sm <%=balance_to_red_or_green(t.transaction_type)%> font-medium px-6 py-4 whitespace-nowrap text-center"><%=t.transaction_type&.upcase%></td>
            </tr>
          <%end%>
        </tbody>
      </table>
    <% else %>
      <p class='border-2 bg-blue-100 border-blue-400 text-xl text-center font-bold m-auto w-fit px-4 py-2 rounded-md'>There are currently no balance transactions.</p>
    <% end %>
  </div>
  <%= paginate @balance_transactions, color: 'blue' %>
</div>
