<% provide(:title, 'Stock Transactions')%>
<div class='flex flex-col items-center'>
  <div class='bg-slate-100 border border-slate-300 rounded-lg py-4 px-8 w-[calc(100%-64px)]'>
    <div class='flex flex-wrap justify-between m-auto items-center gap-2'>
      <h1 class='font-bold text-3xl'> Stock Transactions </h1>
      <div class='flex flex-wrap gap-2 text-center'>
        <%= link_to "Balance Transactions", trader_balance_transactions_path, class: 'text-slate-100 font-medium bg-purple-500 rounded-md p-2 hover:bg-purple-600 text-lg' %>
        <%= link_to 'BUY Transactions', buy_stock_transactions_path, class: 'text-slate-100 font-medium bg-green-500 rounded-md p-2 hover:bg-green-600 text-lg'%>
        <%= link_to 'SELL Transactions', sell_stock_transactions_path, class: 'text-slate-100 font-medium bg-red-400 rounded-md p-2 hover:bg-red-500 text-lg'%>
      </div>
    </div>
    <% if @stock_transactions.count.zero? %>
      <h2 class='text-center font-bold text-3xl bg-purple-400 rounded w-fit m-auto p-4 rounded-md mt-4'>No Stock Transactions to show.</h2>
    <% else %>
      <div class='overflow-auto mt-2 mx-auto'>
        <table class='bg-purple-100 w-full'>
          <thead>
            <tr class='text-white bg-purple-500 text-lg'>
              <th class='p-2'>Time</th>
              <th class='p-2'>Stock Transaction ID</th>
              <th class='p-2'>Symbol</th>
              <th class='p-2'>Company Name</th>
              <th class='p-2'>Quantity</th>
              <th class='p-2'>Unit Price</th>
              <th class='p-2'>Amount</th>
              <th class='p-2'>Type</th>
            </tr>
          </thead>
          <tbody>
            <%= render @stock_transactions %>
          </tbody>
        </table>
      </div>
      <%= paginate @stock_transactions, color: 'purple' %>
    <% end %>
  </div>
</div>
